<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../../css/font.css">
    <link rel="stylesheet" href="../../../css/xadmin.css">
    <link rel="stylesheet" href="../../../css/common.css">

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
      .x-body>.layui-row>form input{
        width:108px
      }
      .layui-table th,
     td{
          text-align: center;
      }
    </style>
  </head>
  
  <body>
    <div class="x-body">
      <table class="layui-table" lay-size="sm">
        <thead>
          <tr>
            <th>用户id</th>
            <th>操作名称</th>
            <th>操作描述</th>
            <th>用户ip</th>
            <th>操作时间</th>
        </thead>
          <tbody id="tbody"></tbody>
      </table>
      <div id="page"></div>

    </div>
    <script type="text/javascript" src="../../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../../js/xadmin.js"></script>
    <script src="../../../js/common.js"></script>
    <script src="../../../js/ajax.js"></script>
    <script src="../../../js/tool.js"></script>
    <script>
      layui.use(['laypage', 'layer','laydate','form'], function() {
        var laydate = layui.laydate;
        var layer = layui.layer
                , form = layui.form;
        var id=getUrlParam('id');

        var url = domain1 + '/user/listOperatRecord?uid='+id;

        var element = function (item) {
            return `
                  <tr>
                  <td >${item.uid}</td>
                  <td >${item.optName}</td>
                  <td>${item.optDesc}</td>
                  <td>${item.optIp}</td>
                   <td>${getDate(item.createTime)}</td>
                  </tr>
            `
        };
        servePage(url, element);

        form.render();
      })
    </script>
  </body>

</html>