<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.slljr.finance.front.mapper.GoodsMapper">
    <resultMap id="BaseResultMap" type="com.slljr.finance.common.pojo.model.Goods">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DOUBLE"/>
        <result column="price_cash" property="priceCash" jdbcType="DOUBLE"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
        <result column="count" property="count" jdbcType="INTEGER"/>
        <result column="category_id" property="categoryId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="ResultMapWithBLOBs" type="com.slljr.finance.common.pojo.model.Goods" extends="BaseResultMap">
        <result column="detail" property="detail" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
      id, title, price, price_cash,type, img_url, count, category_id, status, create_time, update_time
    </sql>

    <sql id="Base_Column_List1">
      t.id, t.title, t.price,t.price_cash,t.type, t.img_url, t.count, t.category_id, t.status, t.create_time, t.update_time,t.detail
    </sql>

    <sql id="Blob_Column_List">
    detail
  </sql>

    <!--商品信息基础返回结果集，带分类信息-->
    <resultMap id="ResultMapWithCategory" type="com.slljr.finance.common.pojo.vo.GoodsVO" extends="ResultMapWithBLOBs">
        <result column="categoryName" property="categoryName"/>
        <result column="categoryParentId" property="categoryParentId"/>
        <result column="categoryParentName" property="categoryParentName"/>
    </resultMap>


    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from goods
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.slljr.finance.common.pojo.model.Goods">
    insert into goods (id, title, price,price_cash,type,
      img_url, count, category_id,
      status, create_time, update_time,
      detail)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE},#{priceCash,jdbcType=DOUBLE},#{type,jdbcType=INTEGER},
      #{imgUrl,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER},
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{detail,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.slljr.finance.common.pojo.model.Goods">
        insert into goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="priceCash != null">
                price_cash,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="imgUrl != null">
                img_url,
            </if>
            <if test="count != null">
                count,
            </if>
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="status != null">
                status,
            </if>
            create_time,
            update_time,
            <if test="detail != null">
                detail,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DOUBLE},
            </if>
            <if test="priceCash != null">
                #{priceCash,jdbcType=DOUBLE},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="imgUrl != null">
                #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="count != null">
                #{count,jdbcType=INTEGER},
            </if>
            <if test="categoryId != null">
                #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            sysdate(),
            sysdate(),
            <if test="detail != null">
                #{detail,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.slljr.finance.common.pojo.model.Goods">
        update goods
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DOUBLE},
            </if>
            <if test="priceCash != null">
                price_cash = #{priceCash,jdbcType=DOUBLE},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="imgUrl != null">
                img_url = #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="count != null">
                count = #{count,jdbcType=INTEGER},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>

            update_time = sysdate(),

            <if test="detail != null">
                detail = #{detail,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.slljr.finance.common.pojo.model.Goods">
    update goods
    set title = #{title,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      price_cash = #{priceCash,jdbcType=DOUBLE},
      type = #{type,jdbcType=INTEGER},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      detail = #{detail,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <update id="updateByPrimaryKey" parameterType="com.slljr.finance.common.pojo.model.Goods">
        update goods
        set title = #{title,jdbcType=VARCHAR},
          price = #{price,jdbcType=DOUBLE},
          price_cash = #{priceCash,jdbcType=DOUBLE},
          type = #{type,jdbcType=INTEGER},
          img_url = #{imgUrl,jdbcType=VARCHAR},
          count = #{count,jdbcType=INTEGER},
          category_id = #{categoryId,jdbcType=INTEGER},
          status = #{status,jdbcType=INTEGER},
          create_time = #{createTime,jdbcType=TIMESTAMP},
          update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>


    <!--条件查询-->
    <select id="findByAllWithCategory" parameterType="com.slljr.finance.common.pojo.model.Goods"
            resultMap="ResultMapWithCategory">
        select
        <include refid="Base_Column_List1"/>
        ,gc.name AS categoryName
        ,pgc.id AS categoryParentId
        ,pgc.name AS categoryParentName
        from goods t
        LEFT JOIN goods_category gc ON t.category_id = gc.id
        LEFT JOIN goods_category pgc ON gc.parent_id = pgc.id
        where t.status = 0
        <if test="id!=null">
            and t.id=#{id,jdbcType=INTEGER}
        </if>
        <if test="title!=null">
            and t.title=#{title,jdbcType=VARCHAR}
        </if>
        <if test="price!=null">
            and t.price=#{price,jdbcType=DOUBLE}
        </if>
        <if test="priceCash!=null">
            and t.price_cash=#{priceCash,jdbcType=DOUBLE}
        </if>
        <if test="type!=null">
            and t.type=#{type,jdbcType=INTEGER}
        </if>
        <if test="imgUrl!=null">
            and t.img_url=#{imgUrl,jdbcType=VARCHAR}
        </if>
        <if test="count!=null">
            and t.count=#{count,jdbcType=INTEGER}
        </if>
        <if test="categoryId!=null">
            and t.category_id=#{categoryId,jdbcType=INTEGER}
        </if>
        <if test="detail!=null">
            and t.detail=#{detail,jdbcType=LONGVARCHAR}
        </if>
        order by t.create_time desc
    </select>

    <!--根据ID集合查询商品-->
    <select id="selectByIds" resultMap="ResultMapWithCategory">
        select
            <include refid="Base_Column_List1"/>
            ,gc.name AS categoryName
            ,pgc.id AS categoryParentId
            ,pgc.name AS categoryParentName
        from goods t
        LEFT JOIN goods_category gc ON t.category_id = gc.id
        LEFT JOIN goods_category pgc ON gc.parent_id = pgc.id
        where t.status = 0
        and t.id in
        <foreach collection="list" item="listItem" open="(" separator="," close=")">
            #{listItem}
        </foreach>
    </select>
</mapper>