<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.slljr.finance.front.mapper.UserCreditCardMapper" >					
  <resultMap id="BaseResultMap" type="com.slljr.finance.common.pojo.model.UserCreditCard" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="bank_id" property="bankId" jdbcType="INTEGER" />
    <result column="bank_card_no" property="bankCardNo" jdbcType="VARCHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="expiration_date" property="expirationDate" jdbcType="DATE" />
    <result column="security_code" property="securityCode" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="bill_date" property="billDate" jdbcType="DATE" />
    <result column="last_repayment_date" property="lastRepaymentDate" jdbcType="DATE" />
    <result column="credit_limit" property="creditLimit" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, bank_id, bank_card_no, bank_name, expiration_date, security_code, phone, 
    bill_date, last_repayment_date, credit_limit, status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_credit_card
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_credit_card
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.slljr.finance.common.pojo.model.UserCreditCard" >
    insert into user_credit_card (id, uid, bank_id, 
      bank_card_no, bank_name, expiration_date, 
      security_code, phone, bill_date, 
      last_repayment_date, credit_limit, status, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{bankId,jdbcType=INTEGER}, 
      #{bankCardNo,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR}, #{expirationDate,jdbcType=DATE}, 
      #{securityCode,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{billDate,jdbcType=DATE}, 
      #{lastRepaymentDate,jdbcType=DATE}, #{creditLimit,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.slljr.finance.common.pojo.model.UserCreditCard" >
    insert into user_credit_card
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="bankId != null" >
        bank_id,
      </if>
      <if test="bankCardNo != null" >
        bank_card_no,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="expirationDate != null" >
        expiration_date,
      </if>
      <if test="securityCode != null" >
        security_code,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="billDate != null" >
        bill_date,
      </if>
      <if test="lastRepaymentDate != null" >
        last_repayment_date,
      </if>
      <if test="creditLimit != null" >
        credit_limit,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="bankId != null" >
        #{bankId,jdbcType=INTEGER},
      </if>
      <if test="bankCardNo != null" >
        #{bankCardNo,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="expirationDate != null" >
        #{expirationDate,jdbcType=DATE},
      </if>
      <if test="securityCode != null" >
        #{securityCode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="billDate != null" >
        #{billDate,jdbcType=DATE},
      </if>
      <if test="lastRepaymentDate != null" >
        #{lastRepaymentDate,jdbcType=DATE},
      </if>
      <if test="creditLimit != null" >
        #{creditLimit,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.slljr.finance.common.pojo.model.UserCreditCard" >
    update user_credit_card
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="bankId != null" >
        bank_id = #{bankId,jdbcType=INTEGER},
      </if>
      <if test="bankCardNo != null" >
        bank_card_no = #{bankCardNo,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="expirationDate != null" >
        expiration_date = #{expirationDate,jdbcType=DATE},
      </if>
      <if test="securityCode != null" >
        security_code = #{securityCode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="billDate != null" >
        bill_date = #{billDate,jdbcType=DATE},
      </if>
      <if test="lastRepaymentDate != null" >
        last_repayment_date = #{lastRepaymentDate,jdbcType=DATE},
      </if>
      <if test="creditLimit != null" >
        credit_limit = #{creditLimit,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.slljr.finance.common.pojo.model.UserCreditCard" >
    update user_credit_card
    set uid = #{uid,jdbcType=INTEGER},
      bank_id = #{bankId,jdbcType=INTEGER},
      bank_card_no = #{bankCardNo,jdbcType=VARCHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      expiration_date = #{expirationDate,jdbcType=DATE},
      security_code = #{securityCode,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      bill_date = #{billDate,jdbcType=DATE},
      last_repayment_date = #{lastRepaymentDate,jdbcType=DATE},
      credit_limit = #{creditLimit,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>